.hero {
  position: relative;
  height: 700px;
  /* overflow: hidden; */
  background-image: radial-gradient(
    ellipse farthest-side at 55% 40%,
    rgba(0, 0, 0, 0) 10%,
    var(--color-backgroundOpacity) 60%,
    var(--color-background) 80%
  );
}

.bgImage {
  object-fit: cover;
  z-index: -1;
}

.content {
  position: absolute;
  bottom: 0px;
  left: 0;

  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.tagsBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.tag {
  font-size: 0.75rem;
  font-weight: 600;
  background-color: var(--color-primaryOpacity);
  border-radius: 6px;
  padding: 4px 10px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.firstTag {
  background-color: var(--color-tetriartyOpacity);
  color: var(--color-tetriarty);
  border: 1px solid var(--color-tetriarty);
}
.titleBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.title {
  font-size: 4rem;
  font-weight: 800;
}
.description {
  font-size: 1.125rem;
  color: var(--color-textSecondary);
}

.buttons {
  display: flex;
  column-gap: 16px;
}
.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
@media (max-width: 475px) {
  .secondaryButtonText {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 550px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 400px;
  }

  .content {
    row-gap: 16px;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .buttonText {
    font-size: 0.85rem;
  }

  .tag {
    padding: 2px 6px;
    font-size: 0.6rem;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.75rem;
  }
  .description {
    font-size: 0.75rem;
  }
  .content {
    max-width: 100%;
  }
}
