.buttons {
  display: flex;
  column-gap: 16px;
}
.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

@media (max-width: 475px) {
  .buttons {
    flex-direction: column;
    row-gap: 10px;
  }
}
