.list {
  position: relative;
  overflow-x: scroll;
  /* overflow-y: visible; */

  display: flex;
  flex-wrap: nowrap;
  /* column-gap: 20px; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list:focus {
  outline: 2px solid var(--color-primary);
  border-radius: 12px;
}

.item {
  padding: 10px;
  padding-bottom: 15px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
}
