.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: var(--color-backgroundSecondary);
  padding: 12px;
  border-radius: 16px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  transition: 0.2s ease-in border-color;
}
.container:hover {
  border-color: var(--color-primary);
}

.time {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
}

.image {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.episodeOrder {
  font-size: 0.875rem;
  color: var(--color-primary);
}
.title {
  font-family: var(--font-outfit);
  font-weight: bold;
}
