.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container {
  border-radius: 12px;
  width: 204px;
  aspect-ratio: 0.75;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer;
}

.container:hover {
  box-shadow:
    0 0 0 2px var(--color-primary),
    0 4px 10px 0 var(--color-primary);
}
.container:active {
  box-shadow:
    0 0 0 2px var(--color-primary),
    0 4px 10px 0 var(--color-primary);
}

.content {
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: radial-gradient(
    ellipse farthest-corner at 0% 0%,
    rgba(0, 0, 0, 0) 40%,
    var(--color-background) 90%
  );
}

.bgImage {
  display: block;
  object-fit: cover;
  z-index: -1;
}

.media {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;

  /* z-index: 1; */

  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.title {
  font-size: 0.9375rem;
  font-family: var(--font-geist);
}

@media (max-width: 768px) {
  .container {
    width: 180px;
    aspect-ratio: 0.7;
  }
}

@media (max-width: 425px) {
  .container {
    width: 140px;
    aspect-ratio: 0.65;
  }
}
