.header {
  padding-block: 20px;
  background-color: var(--color-backgroundOpacity);
  border-bottom: 1px solid var(--color-border);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  /* display: none; */
}
.content {
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.logoWrapper {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.link {
  color: inherit;
  text-decoration: none;
}
.logo {
  font-size: 28px;
  font-weight: 800;
}
.primaryColor {
  color: var(--color-primary);
}
.navigation {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.searchWrapper {
  max-width: 400px;
  width: 100%;
}

.mobileActions {
  display: none;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .searchWrapper {
    display: none;
  }
  .userActions {
    display: none;
  }

  .mobileActions {
    display: flex;
  }
}

@media (max-width: 700px) {
  .navigation {
    display: none;
  }
}

@media (max-width: 425px) {
  .header {
    padding-block: 10px;
  }

  .title {
    font-size: 22px;
  }
  .content {
    padding-inline: 16px;
  }
}
